/* Body*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: baseline;
    height: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    border-bottom: #e2e2e2;
}

.logos .imagenp:hover{
    padding: 15px;
    background-color: white;
    border-radius: 100px;
    color:white ;
}

.logos .imagenp{
    padding: 15px;
    background-color: white;
    border-radius: 100px;
    color:white ;
}
.logos{
    width: 320px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
}

.logos #pinterest-icon:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #d0d0d0;
    padding: 10px;
    color:#fff;
}

.logos #pinterest-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 10px;
    }

  
    
.logos a:hover{
    padding: 15px;
    background-color: #111;
    border-radius: 100px;
    color:#f0f0f0 ;
} 
 
.logos a{
    padding: 15Px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600 ;
    color: #211922;
} 



.logos .imagenp{
    color:none;
    background-color: none;
}

nav .buscador:hover{
    padding: 5px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#f0f0f0 ;
}

nav .buscador{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 100px;
    border: 1px solid #e1e2e6;
    background-color: #e1e2e6;
    height: 50px;
    padding-left: 5px;
}

nav .buscador .lupa:hover{
    padding: 7px;
    height: 5px;
    width: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #a5a5a5;
    border-radius: 50%;
}


nav .buscador .lupa{
    background-image: url(https://www.clker.com/cliparts/8/n/U/M/V/E/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5px;
    height: 5px;
    padding: 7px;
    justify-content: space-around;
}

.finder:hover{
    padding: 5px;
    width: 750px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 


.finder{
    padding: 5px;
    background: none;
    width: 750px;
    height: 20px;
    outline: none;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    font-size: 18px;
}

nav .notificaciones{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav #notifications:hover{
    padding: 5px;
    width: 35px;
    height: 35px;
    background-color: #a5a5a5;
    border-radius: 50%;
    color: gray;
} 


nav #notifications{
    padding: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: gray;
}

nav #message:hover{
    padding: 10px;
    width: 30px;
    height: 30px;
    background-color: #a5a5a5;
    border-radius: 50%;
    color: gray;
} 

nav #message{
    padding: 10px;
    width: 30px;
    height: 30px; 
    cursor: pointer; 
    color: gray;
}

nav #profile-img:hover{
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #a5a5a5;
    border-radius: 50%;
} 

nav #profile-img{
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;   
    cursor: pointer; 
}

/* Main*/

#content{
    grid-column: 5;
    columns: 5 250px; 
    margin: 20px;
    column-gap: 5px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.card-image img:hover{
    padding: 2px;
    background-color: #d0d0d0;
} 


.card-image img{
    max-width: 250px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

@media(max-width:600px) {

    body{
        background-color: #a5a5a5;
    }
    
}